<html>
<head><title></title></head>
<body>
	<div class="container-fluid">
	<div class="row-fluid">
    <header class="span12 hero-unit">
       <img src="1.jpg" alt="my pictures" class="pull-right" />
        <h1>MY CURRICULUM VITAE</h1>
   			<h3>SIM PHIRUM</h3>
				 <p> 
#253 Group 09, Kompongseyma Village, Wat Kor Commune, Battambang City,Battambang Province, Cambodia. <br />
Tel: 092 420 474    <br />
E-mail: simphirum@gmail.com     
<a href="#" class="btn btn-primary">Learn more</a>
</p>
 </header> 
<div class="span12">
<ul class="nav nav-tabs">
	<li class="active"><a href="#PD" data-toggle="tab"> Personal Data </a></li>
	<li><a href="#Ed" data-toggle="tab">Education</a></li>
	<li><a href="#EC" data-toggle="tab">English Course</a></li>
	<li><a href="#TC" data-toggle="tab">Training Course</a></li>
	<li><a href="#La" data-toggle="tab">Languages</a></li>
	<li><a href="#In" data-toggle="tab">Interest</a></li>
</ul>

<section class="tab-content">
<article class="tab-pane active" id="PD">
<h3>Personal Data:</h3>
<dl>

Nationality : Khmer   <br />  
Date of Birth   : April 27, 1992  <br />    
Place of Birth  : Battambang Province <br />  
Marital Status  : Single<br />  
Sex             : Male<br /> 
</article>
<article class="tab-pane active" id="Ed">
<h3>Education:</h3>
2010-Present  : Studying Information Technology 3rd year at of University of Battambang. <br />
2007-2010     : Studied in Somdeck Euv High School<br /> 
2004-2007     : Studied in Wat Kor Secondary School<br /> 
1998-2004     : Studied in Kompongseyma Elementary School<br /> 
</article>
<article class="tab-pane active" id="EC">
<h3>English Courses:</h3>
2007-2010          :   I studied English in LOHI Center and finished level 7.<br /> 
Jan 2011-Jan 2012  :   I studied English in Youth Develop Center (YWAM).<br /> 
</article>
<article class="tab-pane active" id="TC">
<h3>Training Courses:</h3>
<dl class="dl-horizontal">
<dt> October 24-28 2012:</dt>
<dd> Training Program in Thailand on “Android Application Development Fundamental” in The Academic Cooperation Program between Faculty of Informatics and Computer Center Burapha University, Thailand with Faculty of Science and Technology, University of Battambang, Cambodia. </dd>
<dt>December 03-04 2012:</dt>
<dd>Has participated in "the conduct of the computer projects" Training course </dd>                  
</pre>
</article>
<article class="tab-pane active" id="La">
<h3>Languages:</h3>
Khmer   : Native language <br /> 
English : Good (speaking, listen, grammar, writing)<br /> 
</article>
<article class="tab-pane active" id="In">
<h3>Interest:</h3>
 Reading the book, <br /> 
 playing sport,<br /> 
 search internet, <br /> 
 Programming <br /> 
</article>
</section>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
</div>
</div>
</div> 

</body>
</html>